---
layout: default
title: Home
---
<div class="alert alert-danger" style="border: 1px solid #dc3545;">
    このサイトは生命科学科の学生に向けて公開しています。外部にURL等を公開しないようお願いします。<br />
    公開期間： 〜2月4日(金)
</div>

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

